/Code/SolarTracker/.vs/*
/Code/SolarTracker/__vm/*
/Code/SolarTracker/Release/*
/Code/SolarTracker/*.filters
/Code/SolarTracker/*.user
/KiCad/SolarTracker.kicad_prl
/KiCad/SolarTracker-backups/*
/Media/Prove.mp4
