/Code/SolarTracker/.vs/SolarTracker/FileContentIndex/*
/Code/SolarTracker/.vs/SolarTracker/v17/*
/Code/SolarTracker/__vm/*
/Code/SolarTracker/Release/*
/KiCad/SolarTracker.kicad_prl
/KiCad/SolarTracker-backups/*
/Media/Prove.mp4
